.container{
    width: 98vw;
    height: 100vh;
    display: grid;
    grid-template-columns:  30% 70%;
  }


  .profile{
    grid-column: 2/3;

    display: flex;
    align-items: center;
    font-size: 30px;
  }
  .profile-data{
    display: flex;
    align-items: center;
    
  }
  .profile-data > *{
    margin: 10px;
  }
  .my-publications{
    display: grid;
    justify-content: center;
  }.menu-publications{
    width: 100%;
    display: flex;
    flex-direction: row;
    }
  .menu-publications ul li{
    margin: 70px;
    font-size: 35px;
    display: inline;
  }
.menu-publications ul{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
  .publications{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,500px));
    gap: 5px;
    justify-content: space-around;
  }
  .div-img{
    margin: 10px;
    border: 5px solid rgb(196, 192, 192);
    padding: 20px;
  }
  .div-img:hover{
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 30px ;  
  
  }
  .publications>div{
    height: 600px;
  }
  
  .publication-img{
  width: 100%;
  height: 100%;
  }
  
.publication-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .comments{
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    margin: 0 30px;
  }
  .submit-comment-form{
    display: flex;
    align-items: center;
  }
  .submit-comment>form{
    display: flex;
    align-items: center;
  }
  .submit-comment-form>input{
    width: 300px;
    height: 27px;
  }
  .submit-comment-form>button{
    height: 40px;
    width: 20%;
  
  }
  .dialog{
    margin: auto;
    position: fixed;
    height: 99vh;
    width: 99vw ;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.605);
    border: none;
    top: 50%; /* Coloca el dialog a la mitad desde el top */
    left: 50%; /* Coloca el dialog a la mitad desde el left */
    transform: translate(-50%, -50%); 
  }
  .update-div{
    position: fixed;
    top: 0;
    width: 99vw;
    height: 99vh;
    background-color: rgba(126, 148, 148, 0.389);
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .update-div>*{
    width: 20%;
    height: 50%;
    background-color: rgb(41, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
  }
  .update-div>*>*{
    margin: 10px;
  }
  .main-publication{
    background-color: rgb(54, 44, 44);
    padding: 10px;
    display: flex;
    height:  80vh;
    width: 50vw;
  }
  .message{
    display:flex ;
    margin: 20px 0px;
    text-align: center;
    align-items: center;
    padding: 5px;
  }
  .message>*{
    margin-right: 5px;
  }
  .publication-dialog-img{
    width: 456px;
    height: 700px;
  }
  .positionPublication>img{
 
        display: flex;
        flex-direction: column;
  }
  .positionPublication>*{
    margin-bottom: 50px;
}
.dialog-form{
    width: 600px ;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(52, 48, 48);
    display: flex;
    flex-direction: column;
    position: fixed; /* Posiciona el dialog sobre el contenido */
    top: 50%; /* Coloca el dialog a la mitad desde el top */
    left: 50%; /* Coloca el dialog a la mitad desde el left */
    transform: translate(-50%, -50%); 
    align-items: center;
    justify-content: space-around;
  }
  .dialog-form>input{
    width: 400px;
    height: 50px;
    border-radius: 10px;
  }
  .dialog-form>label{
    text-align: start;
    cursor: pointer;
  }
  .dialog-form>button{
    cursor: pointer;
    background-color: brown;
  }
  .profile-number{
    display: flex;
  }
  .profile-number>*{
    margin: 10px;
  }
  /* styles.module.css */
.mainpublication{
  display: flex;
  flex-direction: column; 
  height: 100vh;
  overflow-y: scroll;
  grid-column: 2/3;
}

@media screen and  (min-device-width: 0px) and (max-device-width: 1024px) {
  .mainpublication{
  height: 89vh;

    overflow-y:scroll;
  }
}