
a{
  text-decoration: none;
}
a>*{
  margin-right: 10px;
}
*{
  color: white;
  padding: 0;
  margin: 0;
  font-family: monospace;
}
img,div {
  user-select: none;  
  outline: none;     
}
input{
  background-color:transparent;
  border-radius: 3px;
  border:  1.5px solid rgb(151, 151, 151);
  padding: 5px;
}
:root{
  background-color: rgb(36, 36, 39);

}
.header{
  background-color: rgb(36, 36, 39);
  width: 15vw;
  height: 100vh;
  display: flex;
  position: fixed;
  border-right: rgba(255, 255, 255, 0.134) 2px solid;
}

.header2{
  background-color: rgb(39, 39, 45);
  width: 19vw;
  height: 100vh;
  border-right: 1px solid white;
  display: flex;
  border-right: solid 1px white;
  position: fixed;
  left: 13vw;
}
.header2{
  display: flex;
  flex-direction: column  ;
}
.header  {
  padding: 20px;
}
.header li, .header2 li{
  margin: 50px 10px;
  font-size: 35px;
  list-style: none;
}
a {
display: flex;
justify-content: start;
transition:  0.3s ;
  padding: 10px;

}
a:hover{
  background-color: rgb(52, 55, 48);
  border-radius: 10px;
}

button{
  background-color: rgb(126, 46, 32);
  border-radius: 10px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;

  margin: 5px 1px;

}
button:focus{
  outline: none;
}

li{
  list-style: none;

}






.button-Form{
  background-color: rgba(38, 32, 106, 0.122);
  width: 50%;
  border-radius: 50px;
}









.receptorMessage{
  border-radius: 10px;
  display: flex;
  width: 100%;
}




input:-webkit-autofill {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}





