.home{
    padding: 15px;
  }
  main{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
width: 100%;
  }
  .publications-home{
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: rgb(36, 36, 39);
    width: 100%;
 
  }
  .publication-container{
    border-bottom: 2px solid rgb(226, 226, 226);
    margin: 10px;
    display: flex;
    transition: 1s;
  
  background-color:  rgba(29, 182, 121, 0);
  
  }

  
  .message{
    display:flex ;
    margin: 20px 0px;
    text-align: center;
    align-items: center;
    padding: 5px;
  }
  .description{
    font-size: 22px;
  }
  .menucheck{
    display: none;
  }
    span {
    flex-direction: column;
    gap: 1rem;
  }

  /* Mostrar menú cuando checkbox está checked */
  #menu-toggle:checked + label + span {
    display: flex;
  }
  .message>*{
    margin-right: 5px;
  }
  .publication-container>img{
    margin-top: 10px;
    width: 800px;
    height: 800px;
  }
  .publication-content{
    display: inline;
    padding: 10px;
  }
  .icons{
    display: flex;
    margin-bottom: 10px;
  }
  .icons>*{
    padding: 10px;
    
  }
 
  .main-publication{
    padding: 10px;
    display: flex;
    height: 100%;
  }
   .main-publication>div{
    width: 100%;
  }
  .comments{

    display: grid;
    grid-template-rows: 95% 5%;
    margin: 0 30px;
    height: 100%;
    width: 100%;
  }
  .comment-text{
    width: 100%;
  }
  .submit-comment-form{
    display: flex;
    align-items: center;
  }
  .submit-comment-form>form{
    display: flex;
    align-items: center;
  }
  .submit-comment-form>input{
    width: 70%;
    height: 27px;
  }
  .submit-comment-form>button{
    height: 40px;
    width: 20%;
  
  }
 .dialog {
  display: none; /* oculto por defecto */
}
.dialog.open {
  display: flex; /* visible cuando se abre */
}
