.home{
    padding: 15px;
  }
  main{
    display: flex;
    justify-content: center;
    grid-column: 2/3;
width: 100%;

  }
  .publications-home{
    display: flex;
    flex-direction: column;
    align-items: center;
  background-color: rgb(36, 36, 39);
    width: 100%;
 
  }
  .publication-container{
    margin: 10px;
    display: flex;
    transition: 1s;
  }

  
  .message{
    display:flex ;
    margin: 20px 0px;
    padding: 5px;
    flex-direction: column;
  }
  .description{
    font-size: 22px;
  }
  .menucheck{
    display: none;
  }
    span {
    flex-direction: column;
    gap: 1rem;
  }

  /* Mostrar menú cuando checkbox está checked */
  #menu-toggle:checked + label + span {
    display: flex;
  }
  .message>*{
    margin-right: 5px;
  }

 
  .icons{
    display: flex;
    margin-bottom: 10px;
  }
  .icons>*{
    padding: 10px;
    
  }
 
  .main-publication{
    display: flex;
  }
   .main-publication>div{
    width: 100%;
  }
  .comments{
text-wrap: wrap;
    display: grid;
    grid-template-rows: 90% 10%;
    margin: 0 30px;
    height: 100%;
    width: 100%;
  }
  .comment-text{
    width: 100%;
  }
  .submit-comment-form{
    display: flex;
    align-items: center;
  }
  .submit-comment-form>form{
    display: flex;
    align-items: center;
  }
  .submit-comment-form>input{
    width: 70%;
    height: 27px;
  }
  .submit-comment-form>button{
    height: 40px;
    width: 20%;
  
  }
 .dialog {
  display: none; /* oculto por defecto */
}
.dialog.open {
  display: flex; /* visible cuando se abre */
}

@media only screen and (min-device-width: 0px) and (max-device-width: 768px) {
  .main-publication{
    display: none;
  }
  .comments{
    grid-template-rows: 90% 20%;
  }

}

  