.main-messages{
    display: grid;
    grid-template-columns: 15% 15% 70%;
  }
  

.user-messages{
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    background-color: rgb(56, 54, 54);
    padding: 20px;
  }
  
  .messages-container{
    margin-left: 4vw ;.main-messages2{
  max-height: 500px;
  overflow: hidden;
}

    grid-column: 3;
  }
  .container-messages{
    width: 100%;
    background-color: aqua;
    margin: 0;
  }
  .main-messages2{
    max-height: 500px;
    overflow: hidden;
  }

  .senderMessage{
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: end;
  }
  
.divMessages{
    background-color: rgb(62, 75, 88);
    padding: 10px;
    margin: 10px;
    max-width: 400px;
    word-wrap: break-word;
  }
  .message-form{
    position: fixed;
    bottom:  50px;
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .message-form >input{
    width: 80%  ;
  }
  