.Loginbody{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/background1.jpg');
      background-size: 100%;
        display: flex;
        height:  100vh;
  }
  .Loginform{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50PX;
    height: 100%;
    width: 35%;
  outline: 1px solid rgb(42, 42, 113);
  background-color: #241a575f;
  box-shadow: 0px 0px 30px rgb(42, 42, 113);;
  }
  .Loginform>*{
    width: 50%;
    margin: 10PX;
  }
  .Loginform > input {
    background-color: rgba(33, 42, 48, 0.9); /* un poco transparente */
    border: none;
    padding: 10px;
    margin: 10px 0;
    color: white;
    border-radius: 5px;
    font-size: 16px;
  }
  .Loginform > input:focus{
    outline: none;
  }
  .Loginform > input:-webkit-autofill {
   background-color: rgba(33, 42, 48, 0.9) !important;
    color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px rgba(33, 42, 48, 0.9) inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .error-username{
    color: red;
    border-top: red solid ;
  }
  
.error-password{
    color: red;
    border-top: red solid ;
  }